<a href="https://colab.research.google.com/github/ThienNguyen3001/Python/blob/main/BTVN_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [1]:
x = "Hello world"
print(len(x))

11

#2

In [2]:
x = 'google.com'
from collections import Counter
print(Counter(x))

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

In [3]:
ex1 = 'w3resource'
ex2 = 'w3ce'
ex3 = 'w3'
ex4 = 'w3w3'
ex5 = ' w'
ex6 = ''
def get_two(my_str):
  if len(my_str) <= 2:
    return ""
  else:
    return my_str[0:2] + my_str[-2:]
print(get_two(ex1))
print(get_two(ex2))
print(get_two(ex3))
print(get_two(ex4))
print(get_two(ex5))
print(get_two(ex6))

w3ce
w3ce

w3w3

#4

In [4]:
x = 'restart'
def change_char(my_str):
  char = my_str[0]
  my_str = my_str.replace(char, '$')
  my_str = char + my_str[1:]
  return my_str
print(change_char(x))

resta$t

#5

In [5]:
x1 = 'abc'
x2 = 'xyz'
def swap_char(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]
  return new_a + ' ' + new_b
print(swap_char(x1, x2))

xyc abz

#6

In [6]:
ex1 = 'abc'
ex2 = 'string'
def add_ing(my_str):
  length = len(my_str)
  if length > 2:
    if my_str[-3:] == 'ing':
      my_str += 'ly'
    else:
      my_str += 'ing'
  return my_str
print(add_ing(ex1))
print(add_ing(ex2))

abcing
stringly

#7

In [7]:
ex1 = 'The lyrics is not that poor!'
ex2 = 'The lyrics is poor!'
def not_poor(my_str):
  snot = my_str.find('not')
  spoor = my_str.find('poor')
  if spoor > snot and snot>0 and spoor>0:
    my_str = my_str.replace(my_str[snot:(spoor+4)], 'good')
  return my_str
print(not_poor(ex1))
print(not_poor(ex2))

The lyrics is good!
The lyrics is poor!

#9

In [8]:
x = "Python"
def remove_char(my_str, i):
  first_part = my_str[:i]
  last_part = my_str[i+1:]
  return first_part + last_part
print(remove_char(x, 3))

Pyton

#10

In [9]:
x = "Python"
def swap_char(my_str):
  return my_str[-1:] + my_str[1:-1] + my_str[:1]
print(swap_char(x))

nythoP

#11

In [10]:
x = "Python"
def remove_odd_char(my_str):
  result = ""
  for i in range(len(my_str)):
    if i % 2 == 0:
      result = result + my_str[i]
  return result
print(remove_odd_char(x))

Pto

#12

In [11]:
x = "Hello World Hello"
def word_count(my_str):
  counts = dict()
  words = my_str.split()
  for word in words:
    if word in counts:
      counts[word] += 1
    else:
      counts[word] = 1
  return counts
print(word_count(x))

{'Hello': 2, 'World': 1}

#13

In [12]:
name = input("Enter your name: ")
print("Upper case:",name.upper())
print("Lower case:",name.lower())

Enter your name: Thien
Upper case: THIEN
Lower case: thien

#14

In [13]:
ex = 'red, white, black, red, green, black'
def word_sort(my_str):
  counts = dict()
  words = my_str.split(',')
  for word in words:
    if word in counts:
      counts[word] += 1
    else:
      counts[word] = 1
    counts = dict(sorted(counts.items()))
  return counts
for i in word_sort(ex):
  print(i,end=',')

 black, green, red, white,red,

#15

In [14]:
def add_tag(tag, word):
  return "<%s>%s</%s>" % (tag, word, tag)
print(add_tag('i', 'Python'))
print(add_tag('b', 'Python Tutorial'))

<i>Python</i>
<b>Python Tutorial</b>

#16

In [15]:
def insert_sting_middle(str1,str2):
  return str1[:2] + str2 + str1[2:]
print(insert_sting_middle('[[]]', 'Python'))
print(insert_sting_middle('{{}}', 'PHP'))

[[Python]]
{{PHP}}

#17

In [16]:
def insert_end(my_str):
  if len(my_str) < 2:
    return
  copy = my_str[-2:]
  return copy*4
print(insert_end('Python'))
print(insert_end('Exercises'))

onononon
eseseses

#18

In [17]:
def first_three(my_str):
  if len(my_str) < 3:
    return my_str
  return my_str[:3]
print(first_three('ipy'))
print(first_three('python'))

ipy
pyt

#19

In [18]:
x = 'www.w3resource.com/python-exercises'
def get_last_part(my_str, sep):
  return my_str.rsplit(sep, 1)[0]
print(get_last_part(x, '/'))

www.w3resource.com

#20

In [19]:
x = 'abcd'
def reverse(my_str):
  if len(my_str) % 4 == 0:
    return my_str[::-1]
  return my_str
print(reverse(x))

dcba

#21

In [20]:
x = 'PyThon'
def convert(my_str):
  count = 0
  for i in range(0,5):
    if ('A'< my_str[i] <'Z'):
      count+=1
  if (count >= 2):
    return my_str.upper()
  return my_str
print(convert(x))

PYTHON

#22

In [21]:
ex = 'red white black green'

def word_sort(my_str):
  words = my_str.split()
  return sorted(words)

for word in word_sort(ex):
  print(word, end=' ')

black green red white

#23

In [22]:
ex = 'Python\n1\n2\n3'
def remove_new_line(my_str):
  return my_str.replace('\n', '')
print(remove_new_line(ex))

Python123

#24

In [23]:
ex = 'Python'
def find_char(my_str, char):
  return my_str[0] == char
print(find_char(ex, 'P'))
print(find_char(ex, 'p'))

True
False

#27

In [24]:
ex = '''Việt Nam, quốc hiệu là Cộng hòa xã hội chủ nghĩa Việt Nam,[11] là một quốc gia nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, biển Đông và vịnh Thái Lan.
      Lãnh thổ Việt Nam xuất hiện con người sinh sống từ thời đại đồ đá cũ, khởi đầu với các nhà nước Văn Lang, Âu Lạc. Âu Lạc bị nhà Triệu ở phương Bắc thôn tính vào đầu thế kỷ thứ 2 TCN sau đó là thời kỳ Bắc thuộc kéo dài hơn một thiên niên kỷ. Chế độ quân chủ độc lập được tái lập sau chiến thắng của Ngô Quyền trước nhà Nam Hán, mở đường cho các triều đại độc lập kế tục, nhiều lần chiến thắng trước các cuộc chiến tranh xâm lược từ phương Bắc đồng thời dần mở rộng về phía nam. Thời kỳ Bắc thuộc cuối cùng kết thúc sau chiến thắng trước nhà Minh của nghĩa quân Lam Sơn.
'''
def remove_indentation(text):
    lines = text.splitlines()
    result = "\n".join([line.lstrip() for line in lines])
    return result
print(remove_indentation(ex))

Việt Nam, quốc hiệu là Cộng hòa xã hội chủ nghĩa Việt Nam,[11] là một quốc gia nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, biển Đông và vịnh Thái Lan.
Lãnh thổ Việt Nam xuất hiện con người sinh sống từ thời đại đồ đá cũ, khởi đầu với các nhà nước Văn Lang, Âu Lạc. Âu Lạc bị nhà Triệu ở phương Bắc thôn tính vào đầu thế kỷ thứ 2 TCN sau đó là thời kỳ Bắc thuộc kéo dài hơn một thiên niên kỷ. Chế độ quân chủ độc lập được tái lập sau chiến thắng của Ngô Quyền trước nhà Nam Hán, mở đường cho các triều đại độc lập kế tục, nhiều lần chiến thắng trước các cuộc chiến tranh xâm lược từ phương Bắc đồng thời dần mở rộng về phía nam. Thời kỳ Bắc thuộc cuối cùng kết thúc sau chiến thắng trước nhà Minh của nghĩa quân Lam Sơn.

#28

In [25]:
def add_prefix_to_lines(text, prefix):
    lines = text.splitlines()
    result = "\n".join([prefix + line for line in lines])
    return result

prefix = "- "
print(add_prefix_to_lines(ex, prefix))

- Việt Nam, quốc hiệu là Cộng hòa xã hội chủ nghĩa Việt Nam,[11] là một quốc gia nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, biển Đông và vịnh Thái Lan.
-       Lãnh thổ Việt Nam xuất hiện con người sinh sống từ thời đại đồ đá cũ, khởi đầu với các nhà nước Văn Lang, Âu Lạc. Âu Lạc bị nhà Triệu ở phương Bắc thôn tính vào đầu thế kỷ thứ 2 TCN sau đó là thời kỳ Bắc thuộc kéo dài hơn một thiên niên kỷ. Chế độ quân chủ độc lập được tái lập sau chiến thắng của Ngô Quyền trước nhà Nam Hán, mở đường cho các triều đại độc lập kế tục, nhiều lần chiến thắng trước các cuộc chiến tranh xâm lược từ phương Bắc đồng thời dần mở rộng về phía nam. Thời kỳ Bắc thuộc cuối cùng kết thúc sau chiến thắng trước nhà Minh của nghĩa quân Lam Sơn.

#29

In [26]:
def indent_first_line(text):
    lines = text.splitlines()
    lines[0] = "\t" + lines[0]
    return "\n".join(lines)
print(indent_first_line(ex))

	Việt Nam, quốc hiệu là Cộng hòa xã hội chủ nghĩa Việt Nam,[11] là một quốc gia nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, biển Đông và vịnh Thái Lan.
      Lãnh thổ Việt Nam xuất hiện con người sinh sống từ thời đại đồ đá cũ, khởi đầu với các nhà nước Văn Lang, Âu Lạc. Âu Lạc bị nhà Triệu ở phương Bắc thôn tính vào đầu thế kỷ thứ 2 TCN sau đó là thời kỳ Bắc thuộc kéo dài hơn một thiên niên kỷ. Chế độ quân chủ độc lập được tái lập sau chiến thắng của Ngô Quyền trước nhà Nam Hán, mở đường cho các triều đại độc lập kế tục, nhiều lần chiến thắng trước các cuộc chiến tranh xâm lược từ phương Bắc đồng thời dần mở rộng về phía nam. Thời kỳ Bắc thuộc cuối cùng kết thúc sau chiến thắng trước nhà Minh của nghĩa quân Lam Sơn.

#30

In [27]:
ex = 12.32123
def round_to_two_decimals(number):
    return "%.2f" % number
print(round_to_two_decimals(ex))

12.32

#31

In [28]:
ex = 12.0012
def round_to_two_decimals(number):
    return "%.2f" % number
print(round_to_two_decimals(ex))

12.00

#35

In [29]:
ex = 1234
def separate(number):
    n = str(number)
    for i in range(len(n)-3, 0, -3):
        n = n[:i] + ',' + n[i:]
    return n
print(separate(ex))

1,234

#36

In [30]:
ex = 12/100
def percentage_format(ex):
  return str(ex*100)+"%"
print(percentage_format(ex))

12.0%

#37

In [31]:
number = 12345

print(f"{number:<10}")
print(f"{number:>10}")
print(f"{number:^10}")

12345
     12345
  12345

#38

In [32]:
def count_substring(string, substring):
  return string.count(substring)

# Example usage
ex = '''Việt Nam, quốc hiệu là Cộng hòa xã hội chủ nghĩa Việt Nam,[11] là một quốc gia nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, biển Đông và vịnh Thái Lan.
      Lãnh thổ Việt Nam xuất hiện con người sinh sống từ thời đại đồ đá cũ, khởi đầu với các nhà nước Văn Lang, Âu Lạc. Âu Lạc bị nhà Triệu ở phương Bắc thôn tính vào đầu thế kỷ thứ 2 TCN sau đó là thời kỳ Bắc thuộc kéo dài hơn một thiên niên kỷ. Chế độ quân chủ độc lập được tái lập sau chiến thắng của Ngô Quyền trước nhà Nam Hán, mở đường cho các triều đại độc lập kế tục, nhiều lần chiến thắng trước các cuộc chiến tranh xâm lược từ phương Bắc đồng thời dần mở rộng về phía nam. Thời kỳ Bắc thuộc cuối cùng kết thúc sau chiến thắng trước nhà Minh của nghĩa quân Lam Sơn.
'''
substring = "Việt"
count = count_substring(ex, substring)
print(f"Từ '{substring}' xuất hiện {count} lần")

# To see the output, run the code.

Từ 'Việt' xuất hiện 3 lần

#39

In [33]:
ex = 'Python ne'
def reverse(my_str):
  return my_str[::-1]
print(reverse(ex))

en nohtyP

#40

In [34]:
ex = 'Python ne'
def reverse(my_str, word):
  if word in my_str:
    return my_str.replace(word, word[::-1])
print(reverse(ex, 'ne'))

Python en

#41

In [35]:
def strip_chars(str, chars):
  return "".join([c for c in str if c not in chars])

string = "Hello, world!"
chars_to_strip = ",!"
stripped_string = strip_chars(string, chars_to_strip)
print(stripped_string)

Hello world

#42

In [36]:
ex = 'thequickbrownfoxjumpsoverthelazydog'

def count_char(my_str):
  counts = dict()
  for char in my_str:
    if char in counts:
      counts[char] += 1
    else:
      counts[char] = 1
  return [char +" "+ str(frequency) for char, frequency in counts.items() if frequency > 1]

print(count_char(ex))

['t 2', 'h 2', 'e 3', 'u 2', 'r 2', 'o 4']

#43

In [37]:
def calculate_rectangle_area(length, width):
    area = length * width
    return area

def calculate_cylinder_volume(radius, height):
    volume = 3.14 * radius**2 * height
    return volume

length = 10
width = 8

radius = 1
height = 2

rectangle_area = calculate_rectangle_area(length, width)
cylinder_volume = calculate_cylinder_volume(radius, height)

print(f"The area of the rectangle is {rectangle_area:.2f}cm\u00B2")
print(f"The volume of the cylinder is {cylinder_volume:.3f}cm\u00B3")

The area of the rectangle is 80.00cm²
The volume of the cylinder is 6.280cm³

#44

In [38]:
ex = 'w3resource'
for i in range(0,len(ex)):
  print(f'Current character {ex[i]} position at {i}')

Current character w position at 0
Current character 3 position at 1
Current character r position at 2
Current character e position at 3
Current character s position at 4
Current character o position at 5
Current character u position at 6
Current character r position at 7
Current character c position at 8
Current character e position at 9

#45

In [39]:
import string

def is_pangram(text):
  text = text.lower()
  alphabet = set(string.ascii_lowercase)
  return set(text) >= alphabet
ex = 'The quick brown fox jumps over the lazy dog.'
if is_pangram(ex):
  print("Chứa hết")
else:
  print("Ko chứa hết")

Chứa hết

#46

In [40]:
ex = 'The quick brown fox jumps over the lazy dog.'
lst = ex.split(' ')
print(lst)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

#47

In [41]:
ex = 'PYThoN'
n = 3
def lower_n(my_str, n):
  return my_str[:n].lower() + my_str[n:]
print(lower_n(ex, n))

pythoN

#48

In [42]:
def swap_commas_dots(text):
  text = text.replace(',', '@')
  text = text.replace('.', ',')
  text = text.replace('@', '.')
  return text
ex = '32.054,23'

swapped_string = swap_commas_dots(ex)

print("Result:", swapped_string)

Result: 32,054.23

#49

In [43]:
def count_vowels(text):
  vowels = "aeiouAEIOU"
  vowel_counts = {}

  for char in text:
    if char in vowels:
      vowel_counts[char] = vowel_counts.get(char, 0) + 1

  return vowel_counts

text = "Python"

vowel_counts = count_vowels(text)

print("Vowel counts:")
for vowel, count in vowel_counts.items():
  print(f"{vowel}: {count}")

Enter some text: Python
Vowel counts:
o: 1

#50

In [45]:
def split_on_last_occurrence(string, delimiter):
  last_occurrence = string.rfind(delimiter)
  if last_occurrence != -1:
    return [string[:last_occurrence], string[last_occurrence + 1:]]
  else:
    return [string]

string = 'Hello'
delimiter = 'l'

result = split_on_last_occurrence(string, delimiter)

print("Split string:", result)

Split string: ['Hel', 'o']

#51

In [46]:
def find_first_non_repeating_char(string):
  char_counts = {}

  for char in string:
    char_counts[char] = char_counts.get(char, 0) + 1

  for char in string:
    if char_counts[char] == 1:
      return char

  return None

string = "ooolqa"

result = find_first_non_repeating_char(string)

if result:
  print("Từ đầu tiên ko lặp là:", result)
else:
  print("Tất cả từ đều lập")

The first non-repeating character is: l

#52

In [48]:
def permutations_with_repetition(string, repetition):
  def generate_permutations(current_permutation, remaining_repetition):
    if remaining_repetition == 0:
      print(current_permutation)
      return

    for char in string:
      generate_permutations(current_permutation + char, remaining_repetition - 1)

  generate_permutations("", repetition)

string = 'abc'
repetition = 2

permutations_with_repetition(string, repetition)

aa
ab
ac
ba
bb
bc
ca
cb
cc

#53

In [51]:
def find_first_repeated_char(string):
  char_counts = {}

  for char in string:
    if char in char_counts:
      return char
    else:
      char_counts[char] = 1

  return None

string = 'abbc'

result = find_first_repeated_char(string)

if result:
  print("Từ đầu tiên lặp là:", result)
else:
  print("Ko có từ trùng")

Từ đầu tiên lặp là: b

#54

In [55]:
def find_first_repeated_char_with_smallest_index(string):
  char_indices = {}

  for index, char in enumerate(string):
    if char in char_indices:
      return char
    else:
      char_indices[char] = index

  return None

string = 'Pythoonnn'

result = find_first_repeated_char_with_smallest_index(string)

if result:
  print("Từ đầu tiên lặp là:", result)
else:
  print("Ko có từ trùng")

Từ đầu tiên lặp là: o

#55

In [59]:
def find_first_repeated_word(string):
  words = string.split()
  word_counts = {}

  for word in words:
    if word in word_counts:
      return word
    else:
      word_counts[word] = 1

  return None

string = 'Python python python'

result = find_first_repeated_word(string)

if result:
  print("Từ trùng đầu tiên là:", result)
else:
  print('Ko có từ trùng')

The first repeated word is: python

#56

In [63]:
from collections import Counter

def find_second_most_repeated_word(string):
  word_counts = Counter(string.lower().split())

  if len(word_counts) < 2:
      return None

  most_common_words = word_counts.most_common(2)
  second_most_common_word = most_common_words[1][0]

  return second_most_common_word

string = 'Python ne ne ne ba ba'

result = find_second_most_repeated_word(string)

if result:
  print("Từ trùng nhiều thứ 2 là:", result)
else:
  print("Ko có từ trùng")

Từ trùng nhiều thứ 2 là: ba

#57

In [65]:
def remove_spaces(string):
  return string.replace(" ", "")

string = 'Python ne'

string_without_spaces = remove_spaces(string)

print("Chuỗi sau khi bỏ space:", string_without_spaces)

Chuỗi sau khi bỏ space: Pythonne

#58

In [71]:
def move_spaces_to_front(string):
  spaces = string.count(" ")
  no_spaces = string.replace(" ", "")
  result = " " * spaces + no_spaces
  return result

string = 'Python ne'

modified_string = move_spaces_to_front(string)

print(modified_string)

 Pythonne

#59

In [76]:
def find_max_char(string):
  char_counts = {}

  for char in string:
    char_counts[char] = char_counts.get(char, 0) + 1

  max_char = max(char_counts, key=char_counts.get)
  max_count = char_counts[max_char]

  return max_char, max_count

string = 'PythonP'

max_char, max_count = find_max_char(string)

print(f"Từ '{max_char}' xuất hiện nhiều nhất ({max_count} lần).")

Từ 'P' xuất hiện nhiều nhất (2 lần).

#60

In [78]:
def capitalize_first_last_letters(string):
  words = string.split()
  modified_words = []

  for word in words:
    if len(word) > 1:
      modified_word = word[0].upper() + word[1:-1] + word[-1].upper()
    else:
      modified_word = word.upper()

    modified_words.append(modified_word)

  return " ".join(modified_words)

string = 'Python ne'

modified_string = capitalize_first_last_letters(string)

print(modified_string)

PythoN NE